In [6]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, mean_absolute_percentage_error

In [5]:
prediction = pd.read_csv('../data/als_prediction.csv', names=['item_id','user_id','rating','prediction'])
prediction

         item_id  user_id  rating  prediction
0        3194786       22       1    2.430135
1       16682039       22       4    3.674860
2       19187812       22       5    3.882390
3       42367516       28       2    2.068932
4       10829530       28       2    2.641614
...          ...      ...     ...         ...
323688  44009388   248445       4    4.103479
323689  55986523   248445       4    4.224902
323690  55986523   261508       3    3.843253
323691  16227953   262261       4    3.751994
323692  45813779   262261       4    3.731811

[323693 rows x 4 columns]

In [7]:
rmse = np.sqrt(mean_squared_error(prediction["rating"], prediction["prediction"]))
mae = mean_absolute_error(prediction['rating'], prediction['prediction'])
r2 = r2_score(prediction['rating'], prediction['prediction'])
print(f'RMSE: {rmse}')
print(f'MAE: {mae}')
print(f'R^2: {r2}')

RMSE: 0.7098375816052936
MAE: 0.5629465004376988
R^2: 0.48689284835442126