In [1]:
import pandas as pd
import numpy as np
from ast import literal_eval

In [2]:
books = pd.read_json('../data/metadata.json',lines=True)
books

,item_id,url,title,authors,lang,img,year,description
0,16827462,https://www.goodreads.com/book/show/11870085-t...,The Fault in Our Stars,John Green,eng,https://images.gr-assets.com/books/1360206420m...,2012,"There is an alternate cover edition .\n""I fel..."
1,2792775,https://www.goodreads.com/book/show/2767052-th...,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,eng,https://images.gr-assets.com/books/1447303603m...,2008,Winning will make you famous.\nLosing means ce...
2,8812783,https://www.goodreads.com/book/show/7260188-mo...,"Mockingjay (The Hunger Games, #3)",Suzanne Collins,eng,https://images.gr-assets.com/books/1358275419m...,2010,My name is Katniss Everdeen.\nWhy am I not dea...
3,41107568,https://www.goodreads.com/book/show/22557272-t...,The Girl on the Train,Paula Hawkins,eng,https://images.gr-assets.com/books/1490903702m...,2015,Every day the same\nRachel takes the same comm...
4,6171458,https://www.goodreads.com/book/show/6148028-ca...,"Catching Fire (The Hunger Games, #2)",Suzanne Collins,eng,https://images.gr-assets.com/books/1358273780m...,2009,Sparks are igniting.\nFlames are spreading.\nA...
...,...,...,...,...,...,...,...,...
9369,14988434,https://www.goodreads.com/book/show/10091466-i...,Inside Scientology: The Story of America's Mos...,Janet Reitman,eng,https://s.gr-assets.com/assets/nophoto/book/11...,2011,"Scientology, created in 1954 by pulp science f..."
9370,6374360,https://www.goodreads.com/book/show/6193923-ev...,Evil at Heart (Archie Sheridan & Gretchen Lowe...,Chelsea Cain,eng,https://images.gr-assets.com/books/1328137862m...,2009,Chelsea Cain's novels featuring Portland detec...
9371,2021847,https://www.goodreads.com/book/show/25104.The_...,The Wake (The Sandman #10),Neil Gaiman,eng,https://images.gr-assets.com/books/1339922545m...,1999,"When a Dream ends, there is only one thing lef..."
9372,645677,https://www.goodreads.com/book/show/659600.Ann...,Annie's Song,Catherine Anderson,eng,https://images.gr-assets.com/books/1325836635m...,1996,Annie Trimble lives in a solitary world that n...
9373,963076,https://www.goodreads.com/book/show/218659.Eve...,Everything That Rises Must Converge: Stories,Flannery O'Connor,eng,https://images.gr-assets.com/books/1412859621m...,1996,Librarian's Note: For an alternate hardcover e...

In [3]:
books = pd.read_csv('../data/books.csv', encoding="utf-8", usecols=range(1,10))
books

,item_id,url,title,authors,lang,img,year,description,average_rating
0,16827462,https://www.goodreads.com/book/show/11870085-t...,The Fault in Our Stars,John Green,eng,https://images.gr-assets.com/books/1360206420m...,2012,"There is an alternate cover edition .\n""I fel...",4.401269
1,2792775,https://www.goodreads.com/book/show/2767052-th...,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,eng,https://images.gr-assets.com/books/1447303603m...,2008,Winning will make you famous.\nLosing means ce...,4.414875
2,8812783,https://www.goodreads.com/book/show/7260188-mo...,"Mockingjay (The Hunger Games, #3)",Suzanne Collins,eng,https://images.gr-assets.com/books/1358275419m...,2010,My name is Katniss Everdeen.\nWhy am I not dea...,3.898408
3,41107568,https://www.goodreads.com/book/show/22557272-t...,The Girl on the Train,Paula Hawkins,eng,https://images.gr-assets.com/books/1490903702m...,2015,Every day the same\nRachel takes the same comm...,3.656054
4,6171458,https://www.goodreads.com/book/show/6148028-ca...,"Catching Fire (The Hunger Games, #2)",Suzanne Collins,eng,https://images.gr-assets.com/books/1358273780m...,2009,Sparks are igniting.\nFlames are spreading.\nA...,4.329810
...,...,...,...,...,...,...,...,...,...
9369,14988434,https://www.goodreads.com/book/show/10091466-i...,Inside Scientology: The Story of America's Mos...,Janet Reitman,eng,https://s.gr-assets.com/assets/nophoto/book/11...,2011,"Scientology, created in 1954 by pulp science f...",3.859873
9370,6374360,https://www.goodreads.com/book/show/6193923-ev...,Evil at Heart (Archie Sheridan & Gretchen Lowe...,Chelsea Cain,eng,https://images.gr-assets.com/books/1328137862m...,2009,Chelsea Cain's novels featuring Portland detec...,3.857143
9371,2021847,https://www.goodreads.com/book/show/25104.The_...,The Wake (The Sandman #10),Neil Gaiman,eng,https://images.gr-assets.com/books/1339922545m...,1999,"When a Dream ends, there is only one thing lef...",4.304348
9372,645677,https://www.goodreads.com/book/show/659600.Ann...,Annie's Song,Catherine Anderson,eng,https://images.gr-assets.com/books/1325836635m...,1996,Annie Trimble lives in a solitary world that n...,4.223602
9373,963076,https://www.goodreads.com/book/show/218659.Eve...,Everything That Rises Must Converge: Stories,Flannery O'Connor,eng,https://images.gr-assets.com/books/1412859621m...,1996,Librarian's Note: For an alternate hardcover e...,3.950311

In [4]:
tags = pd.read_json('../data/tags.json',lines=True)
tags

              tag   id
0    18th century    0
1           1920s    1
2           1930s    2
3           1950s    3
4           1960s    4
..            ...  ...
722   world war i  722
723       writers  723
724       writing  724
725         youth  725
726       zombies  726

[727 rows x 2 columns]

In [5]:
tag_count = pd.read_json('../data/tag_count.json',lines=True)
tag_count

         item_id  tag_id   num
0            115      13    52
1            115      25   180
2            115      38   110
3            115      47    42
4            115      52   478
...          ...     ...   ...
239247  57044162     511     6
239248  57044162     512  1052
239249  57044162     564    12
239250  57044162     629     8
239251  57044162     717     5

[239252 rows x 3 columns]

In [6]:
table1 = pd.merge(books,tag_count,on='item_id',how="inner")
table1

,item_id,url,title,authors,lang,img,year,description,average_rating,tag_id,num
0,16827462,https://www.goodreads.com/book/show/11870085-t...,The Fault in Our Stars,John Green,eng,https://images.gr-assets.com/books/1360206420m...,2012,"There is an alternate cover edition .\n""I fel...",4.401269,13,2840
1,16827462,https://www.goodreads.com/book/show/11870085-t...,The Fault in Our Stars,John Green,eng,https://images.gr-assets.com/books/1360206420m...,2012,"There is an alternate cover edition .\n""I fel...",4.401269,38,3064
2,16827462,https://www.goodreads.com/book/show/11870085-t...,The Fault in Our Stars,John Green,eng,https://images.gr-assets.com/books/1360206420m...,2012,"There is an alternate cover edition .\n""I fel...",4.401269,104,6912
3,16827462,https://www.goodreads.com/book/show/11870085-t...,The Fault in Our Stars,John Green,eng,https://images.gr-assets.com/books/1360206420m...,2012,"There is an alternate cover edition .\n""I fel...",4.401269,119,3440
4,16827462,https://www.goodreads.com/book/show/11870085-t...,The Fault in Our Stars,John Green,eng,https://images.gr-assets.com/books/1360206420m...,2012,"There is an alternate cover edition .\n""I fel...",4.401269,136,1256
...,...,...,...,...,...,...,...,...,...,...,...
239247,963076,https://www.goodreads.com/book/show/218659.Eve...,Everything That Rises Must Converge: Stories,Flannery O'Connor,eng,https://images.gr-assets.com/books/1412859621m...,1996,Librarian's Note: For an alternate hardcover e...,3.950311,602,681
239248,963076,https://www.goodreads.com/book/show/218659.Eve...,Everything That Rises Must Converge: Stories,Flannery O'Connor,eng,https://images.gr-assets.com/books/1412859621m...,1996,Librarian's Note: For an alternate hardcover e...,3.950311,616,64
239249,963076,https://www.goodreads.com/book/show/218659.Eve...,Everything That Rises Must Converge: Stories,Flannery O'Connor,eng,https://images.gr-assets.com/books/1412859621m...,1996,Librarian's Note: For an alternate hardcover e...,3.950311,632,34
239250,963076,https://www.goodreads.com/book/show/218659.Eve...,Everything That Rises Must Converge: Stories,Flannery O'Connor,eng,https://images.gr-assets.com/books/1412859621m...,1996,Librarian's Note: For an alternate hardcover e...,3.950311,691,7
239251,963076,https://www.goodreads.com/book/show/218659.Eve...,Everything That Rises Must Converge: Stories,Flannery O'Connor,eng,https://images.gr-assets.com/books/1412859621m...,1996,Librarian's Note: For an alternate hardcover e...,3.950311,717,16

In [7]:
table2 = pd.merge(table1,tags,left_on='tag_id',right_on='id',how="inner").drop(columns=['id'])
table2

,item_id,url,title,authors,lang,img,year,description,average_rating,tag_id,num,tag
0,16827462,https://www.goodreads.com/book/show/11870085-t...,The Fault in Our Stars,John Green,eng,https://images.gr-assets.com/books/1360206420m...,2012,"There is an alternate cover edition .\n""I fel...",4.401269,13,2840,5 stars
1,2792775,https://www.goodreads.com/book/show/2767052-th...,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,eng,https://images.gr-assets.com/books/1447303603m...,2008,Winning will make you famous.\nLosing means ce...,4.414875,13,6324,5 stars
2,8812783,https://www.goodreads.com/book/show/7260188-mo...,"Mockingjay (The Hunger Games, #3)",Suzanne Collins,eng,https://images.gr-assets.com/books/1358275419m...,2010,My name is Katniss Everdeen.\nWhy am I not dea...,3.898408,13,2345,5 stars
3,6171458,https://www.goodreads.com/book/show/6148028-ca...,"Catching Fire (The Hunger Games, #2)",Suzanne Collins,eng,https://images.gr-assets.com/books/1358273780m...,2009,Sparks are igniting.\nFlames are spreading.\nA...,4.329810,13,3084,5 stars
4,878368,https://www.goodreads.com/book/show/19063.The_...,The Book Thief,Markus Zusak,eng,https://images.gr-assets.com/books/1390053681m...,0,"A story about, among other things: A girl, som...",4.489453,13,2192,5 stars
...,...,...,...,...,...,...,...,...,...,...,...,...
239247,23644105,https://www.goodreads.com/book/show/17191452-j...,"Just One Evil Act (Inspector Lynley, #18)",Elizabeth George,eng,https://images.gr-assets.com/books/1373456845m...,2013,Sergeant Barbara Havers is at a loss: The daug...,3.345946,463,3,mystery series
239248,25637147,https://www.goodreads.com/book/show/18213403-n...,"No Place to Hide: Edward Snowden, the NSA, and...",Glenn Greenwald,eng,https://images.gr-assets.com/books/1383352779m...,2014,No Place to Hide is a groundbreaking look at t...,4.261111,648,19,surveillance
239249,22566,https://www.goodreads.com/book/show/79378.Rose...,"Roses are Red (Alex Cross, #6)",James Patterson,en-US,https://s.gr-assets.com/assets/nophoto/book/11...,2001,In this heart-pounding but touchingly romantic...,3.926380,560,14,robberies
239250,941815,https://www.goodreads.com/book/show/47304.The_...,The Freedom Writers Diary,"Erin Gruwell, Zlata Filipovic, The Freedom Wri...",eng,https://s.gr-assets.com/assets/nophoto/book/11...,2009,#1 NEW YORK TIMESBESTSELLER & NOW A MAJOR MOTI...,3.987261,272,4,freedom
239251,2247514,https://www.goodreads.com/book/show/638689.Eli...,Elijah of Buxton,Christopher Paul Curtis,en-US,https://images.gr-assets.com/books/1328843610m...,2007,Newbery Medalist and CSK Award winner Christop...,4.139241,272,8,freedom

In [8]:
books_tag = table2.groupby('item_id',dropna=True).agg(tags=('tag','unique'))
books_tag

                                                       tags
item_id
115       [5 stars, all time favorites, made me cry, com...
387       [contemporary, english, families, fiction, fun...
423       [all time favorites, fiction, novel, adventure...
434       [contemporary, fiction, novel, suspense, thril...
466       [5 stars, all time favorites, contemporary, en...
...                                                     ...
56707521  [5 stars, contemporary, drama, emotional, roma...
56872973  [5 stars, chick lit, contemporary, drama, fict...
56992688  [all time favorites, made me cry, contemporary...
57041703  [5 stars, made me cry, chick lit, contemporary...
57044162  [5 stars, all time favorites, contemporary, en...

[9374 rows x 1 columns]

In [9]:
df_book = books.join(books_tag,on='item_id',how='inner')
df_book[df_book['item_id']==16827462]

,item_id,url,title,authors,lang,img,year,description,average_rating,tags
0,16827462,https://www.goodreads.com/book/show/11870085-t...,The Fault in Our Stars,John Green,eng,https://images.gr-assets.com/books/1360206420m...,2012,"There is an alternate cover edition .\n""I fel...",4.401269,"[5 stars, all time favorites, made me cry, can..."

In [10]:
ratings = pd.read_json('../data/ratings.json',lines=True)
ratings

          item_id  user_id  rating
0        41335427        0       5
1        41335427        1       3
2        41335427        2       5
3        41335427        3       5
4        41335427        4       5
...           ...      ...     ...
5152651  56590230    46691       5
5152652  56590230   318648       5
5152653  56590230   295248       4
5152654  56590230   258912       3
5152655  56590230   356969       4

[5152656 rows x 3 columns]

In [11]:
user_books = pd.merge(ratings,df_book,on='item_id',how='inner')
user_books

,item_id,user_id,rating,url,title,authors,lang,img,year,description,average_rating,tags
0,41335427,0,5,https://www.goodreads.com/book/show/1.Harry_Po...,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,eng,https://images.gr-assets.com/books/1361039191m...,2006,The war against Voldemort is not going well: e...,4.63805,"[5 stars, all time favorites, made me cry, com..."
1,41335427,1,3,https://www.goodreads.com/book/show/1.Harry_Po...,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,eng,https://images.gr-assets.com/books/1361039191m...,2006,The war against Voldemort is not going well: e...,4.63805,"[5 stars, all time favorites, made me cry, com..."
2,41335427,2,5,https://www.goodreads.com/book/show/1.Harry_Po...,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,eng,https://images.gr-assets.com/books/1361039191m...,2006,The war against Voldemort is not going well: e...,4.63805,"[5 stars, all time favorites, made me cry, com..."
3,41335427,3,5,https://www.goodreads.com/book/show/1.Harry_Po...,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,eng,https://images.gr-assets.com/books/1361039191m...,2006,The war against Voldemort is not going well: e...,4.63805,"[5 stars, all time favorites, made me cry, com..."
4,41335427,4,5,https://www.goodreads.com/book/show/1.Harry_Po...,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,eng,https://images.gr-assets.com/books/1361039191m...,2006,The war against Voldemort is not going well: e...,4.63805,"[5 stars, all time favorites, made me cry, com..."
...,...,...,...,...,...,...,...,...,...,...,...,...
5152651,56590230,46691,5,https://www.goodreads.com/book/show/36107506-b...,Beautiful Mistake,Vi Keeland,NaN,https://s.gr-assets.com/assets/nophoto/book/11...,0,A sexy new standalone from #1 New York Times b...,4.30038,"[5 stars, made me cry, chick lit, contemporary..."
5152652,56590230,318648,5,https://www.goodreads.com/book/show/36107506-b...,Beautiful Mistake,Vi Keeland,NaN,https://s.gr-assets.com/assets/nophoto/book/11...,0,A sexy new standalone from #1 New York Times b...,4.30038,"[5 stars, made me cry, chick lit, contemporary..."
5152653,56590230,295248,4,https://www.goodreads.com/book/show/36107506-b...,Beautiful Mistake,Vi Keeland,NaN,https://s.gr-assets.com/assets/nophoto/book/11...,0,A sexy new standalone from #1 New York Times b...,4.30038,"[5 stars, made me cry, chick lit, contemporary..."
5152654,56590230,258912,3,https://www.goodreads.com/book/show/36107506-b...,Beautiful Mistake,Vi Keeland,NaN,https://s.gr-assets.com/assets/nophoto/book/11...,0,A sexy new standalone from #1 New York Times b...,4.30038,"[5 stars, made me cry, chick lit, contemporary..."
5152655,56590230,356969,4,https://www.goodreads.com/book/show/36107506-b...,Beautiful Mistake,Vi Keeland,NaN,https://s.gr-assets.com/assets/nophoto/book/11...,0,A sexy new standalone from #1 New York Times b...,4.30038,"[5 stars, made me cry, chick lit, contemporary..."

In [12]:
def get_user_tags(userId):
    user_df = user_books[user_books['user_id']==userId]
    tag_explode = user_df.explode('tags')
    tag_explode = tag_explode.groupby('tags').agg(appear=('tags','count'))
    tag_explode = tag_explode.sort_values(['appear'],ascending = False)
    return tag_explode

In [13]:
get_user_tags(2)

             appear
tags
fiction         114
young adult     111
fantasy         103
romance         101
teen             99
...             ...
sad               1
boring            1
romantic          1
egypt             1
politics          1

[236 rows x 1 columns]

In [23]:
tag_df = get_user_tags(2)[:5]
result = pd.merge(table2,tag_df,left_on='tag',right_on=tag_df.index,how='inner')
result = result.groupby('item_id').agg(tags=('tag','unique')).reset_index()
result

       item_id                             tags
0          115     [fiction, teen, young adult]
1          387               [fiction, romance]
2          423               [fiction, fantasy]
3          434                        [fiction]
4          466  [fiction, young adult, fantasy]
...        ...                              ...
9028  56707521                        [romance]
9029  56872973               [fiction, romance]
9030  56992688  [fiction, romance, young adult]
9031  57041703               [fiction, romance]
9032  57044162               [fiction, romance]

[9033 rows x 2 columns]

In [8]:
def calculate_rating(bookId):
    book_ratings = ratings[ratings['item_id']==bookId]['rating']
    return book_ratings.mean()

In [21]:
calculate_rating(16827462)

4.401268538382614

In [24]:
read_books = ratings[ratings['user_id']==2]['item_id']
result = result[~result['item_id'].isin(read_books)]
#result['average_rating']= result['item_id'].apply(lambda x: calculate_rating(x))
top = pd.merge(books, result,on='item_id',how='inner')
top = top.sort_values('average_rating',ascending=False)
top

,Unnamed: 0,item_id,url,title,authors,lang,img,year,description,average_rating,tags
4863,5118,26518929,https://www.goodreads.com/book/show/18681461-l...,"Lovely Trigger (Tristan & Danika, #3)",R.K. Lilley,eng,https://images.gr-assets.com/books/1384923832m...,2014,"THE IMPACT\nTristan hit rock bottom, and no on...",4.826568,[romance]
6512,6849,52922245,https://www.goodreads.com/book/show/34826911-t...,"The Gravity of Us (Elements, #4)",Brittainy C. Cherry,eng,https://s.gr-assets.com/assets/nophoto/book/11...,0,Graham Russell and I weren't made for one anot...,4.818605,"[fiction, romance]"
3060,3237,49704739,https://www.goodreads.com/book/show/29436571-m...,"March: Book Three (March, #3)","John Lewis, Andrew Aydin",eng,https://images.gr-assets.com/books/1457361267m...,2016,Welcome to the stunning conclusion of the awar...,4.801546,"[teen, young adult]"
8141,8552,41343043,https://www.goodreads.com/book/show/22024907-l...,"Long Way Down (Calloway Sisters, #4; Addicted,...","Krista Ritchie, Becca Ritchie",eng,https://images.gr-assets.com/books/1445205632m...,2015,"With a seven-year age difference, Ryke & Daisy...",4.788571,"[fiction, romance]"
1579,1694,2962492,https://www.goodreads.com/book/show/862041.Har...,"Harry Potter Boxset (Harry Potter, #1-7)",J.K. Rowling,eng,https://images.gr-assets.com/books/1392579059m...,2007,"The exciting tales of Harry Potter, the young ...",4.786963,"[fiction, romance, teen, young adult, fantasy]"
...,...,...,...,...,...,...,...,...,...,...,...
6203,6522,3297002,https://www.goodreads.com/book/show/7455.Sex_a...,Sex and the City,Candace Bushnell,NaN,https://images.gr-assets.com/books/1344270731m...,2006,Enter a world where the sometimes shocking and...,2.341121,"[fiction, romance]"
1641,1761,1584738,https://www.goodreads.com/book/show/783291.The...,The Almost Moon,Alice Sebold,eng,https://images.gr-assets.com/books/1310421579m...,2007,A woman steps over the line into the unthinkab...,2.329011,"[fiction, young adult]"
7336,7707,101770,https://www.goodreads.com/book/show/105578.One...,One Night at the Call Center,Chetan Bhagat,eng,https://images.gr-assets.com/books/1320500924m...,2007,Press 1 for technical support.\nPress 2 for br...,2.237838,"[fiction, romance, young adult]"
2947,3123,13790252,https://www.goodreads.com/book/show/8913852-sw...,Sweet Valley Confidential: Ten Years Later,Francine Pascal,en-US,https://s.gr-assets.com/assets/nophoto/book/11...,0,Ten years after graduating from Sweet Valley H...,2.215938,"[fiction, romance, teen, young adult]"
2932,3107,23766743,https://www.goodreads.com/book/show/17239876-a...,After Dead: What Came Next in the World of Soo...,Charlaine Harris,eng,https://images.gr-assets.com/books/1364533931m...,2013,Dead Ever Aftermarked the end of the Sookie St...,2.133501,"[fiction, romance, fantasy]"

In [10]:
books["average_rating"] = books["item_id"].apply(lambda x: calculate_rating(x))
books

,item_id,url,title,authors,lang,img,year,description,average_rating
0,16827462,https://www.goodreads.com/book/show/11870085-t...,The Fault in Our Stars,John Green,eng,https://images.gr-assets.com/books/1360206420m...,2012,"There is an alternate cover edition .\n""I fel...",4.401269
1,2792775,https://www.goodreads.com/book/show/2767052-th...,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,eng,https://images.gr-assets.com/books/1447303603m...,2008,Winning will make you famous.\nLosing means ce...,4.414875
2,8812783,https://www.goodreads.com/book/show/7260188-mo...,"Mockingjay (The Hunger Games, #3)",Suzanne Collins,eng,https://images.gr-assets.com/books/1358275419m...,2010,My name is Katniss Everdeen.\nWhy am I not dea...,3.898408
3,41107568,https://www.goodreads.com/book/show/22557272-t...,The Girl on the Train,Paula Hawkins,eng,https://images.gr-assets.com/books/1490903702m...,2015,Every day the same\nRachel takes the same comm...,3.656054
4,6171458,https://www.goodreads.com/book/show/6148028-ca...,"Catching Fire (The Hunger Games, #2)",Suzanne Collins,eng,https://images.gr-assets.com/books/1358273780m...,2009,Sparks are igniting.\nFlames are spreading.\nA...,4.329810
...,...,...,...,...,...,...,...,...,...
9369,14988434,https://www.goodreads.com/book/show/10091466-i...,Inside Scientology: The Story of America's Mos...,Janet Reitman,eng,https://s.gr-assets.com/assets/nophoto/book/11...,2011,"Scientology, created in 1954 by pulp science f...",3.859873
9370,6374360,https://www.goodreads.com/book/show/6193923-ev...,Evil at Heart (Archie Sheridan & Gretchen Lowe...,Chelsea Cain,eng,https://images.gr-assets.com/books/1328137862m...,2009,Chelsea Cain's novels featuring Portland detec...,3.857143
9371,2021847,https://www.goodreads.com/book/show/25104.The_...,The Wake (The Sandman #10),Neil Gaiman,eng,https://images.gr-assets.com/books/1339922545m...,1999,"When a Dream ends, there is only one thing lef...",4.304348
9372,645677,https://www.goodreads.com/book/show/659600.Ann...,Annie's Song,Catherine Anderson,eng,https://images.gr-assets.com/books/1325836635m...,1996,Annie Trimble lives in a solitary world that n...,4.223602
9373,963076,https://www.goodreads.com/book/show/218659.Eve...,Everything That Rises Must Converge: Stories,Flannery O'Connor,eng,https://images.gr-assets.com/books/1412859621m...,1996,Librarian's Note: For an alternate hardcover e...,3.950311

In [11]:
books.to_csv("../data/books.csv", index=False)

In [14]:
books = pd.read_csv('../data/books.csv')
books

,Unnamed: 0,item_id,url,title,authors,lang,img,year,description,average_rating
0,0,16827462,https://www.goodreads.com/book/show/11870085-t...,The Fault in Our Stars,John Green,eng,https://images.gr-assets.com/books/1360206420m...,2012,"There is an alternate cover edition .\n""I fel...",4.401269
1,1,2792775,https://www.goodreads.com/book/show/2767052-th...,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,eng,https://images.gr-assets.com/books/1447303603m...,2008,Winning will make you famous.\nLosing means ce...,4.414875
2,2,8812783,https://www.goodreads.com/book/show/7260188-mo...,"Mockingjay (The Hunger Games, #3)",Suzanne Collins,eng,https://images.gr-assets.com/books/1358275419m...,2010,My name is Katniss Everdeen.\nWhy am I not dea...,3.898408
3,3,41107568,https://www.goodreads.com/book/show/22557272-t...,The Girl on the Train,Paula Hawkins,eng,https://images.gr-assets.com/books/1490903702m...,2015,Every day the same\nRachel takes the same comm...,3.656054
4,4,6171458,https://www.goodreads.com/book/show/6148028-ca...,"Catching Fire (The Hunger Games, #2)",Suzanne Collins,eng,https://images.gr-assets.com/books/1358273780m...,2009,Sparks are igniting.\nFlames are spreading.\nA...,4.329810
...,...,...,...,...,...,...,...,...,...,...
9369,9369,14988434,https://www.goodreads.com/book/show/10091466-i...,Inside Scientology: The Story of America's Mos...,Janet Reitman,eng,https://s.gr-assets.com/assets/nophoto/book/11...,2011,"Scientology, created in 1954 by pulp science f...",3.859873
9370,9370,6374360,https://www.goodreads.com/book/show/6193923-ev...,Evil at Heart (Archie Sheridan & Gretchen Lowe...,Chelsea Cain,eng,https://images.gr-assets.com/books/1328137862m...,2009,Chelsea Cain's novels featuring Portland detec...,3.857143
9371,9371,2021847,https://www.goodreads.com/book/show/25104.The_...,The Wake (The Sandman #10),Neil Gaiman,eng,https://images.gr-assets.com/books/1339922545m...,1999,"When a Dream ends, there is only one thing lef...",4.304348
9372,9372,645677,https://www.goodreads.com/book/show/659600.Ann...,Annie's Song,Catherine Anderson,eng,https://images.gr-assets.com/books/1325836635m...,1996,Annie Trimble lives in a solitary world that n...,4.223602
9373,9373,963076,https://www.goodreads.com/book/show/218659.Eve...,Everything That Rises Must Converge: Stories,Flannery O'Connor,eng,https://images.gr-assets.com/books/1412859621m...,1996,Librarian's Note: For an alternate hardcover e...,3.950311

In [32]:
target_df = user_books[user_books['user_id']==2]
len(target_df)

116

In [36]:
train = target_df.head(100)
test = target_df[~target_df['item_id'].isin(train['item_id'])]

In [40]:
test

,item_id,user_id,rating,url,title,authors,lang,img,year,description,average_rating,tags
3997017,25268052,2,4,https://www.goodreads.com/book/show/18004320-t...,The Last Ever After (The School for Good and E...,Soman Chainani,eng,https://images.gr-assets.com/books/1421947451m...,2015,In the epic next chapter of Soman Chainani's N...,4.160305,"[5 stars, all time favorites, fiction, humor, ..."
4010079,25337746,2,3,https://www.goodreads.com/book/show/18053060-d...,"Dorothy Must Die (Dorothy Must Die, #1)",Danielle Paige,eng,https://images.gr-assets.com/books/1381437107m...,2014,I didn't ask for any of this. I didn't ask to ...,3.655864,"[5 stars, fiction, romance, teen, young adult,..."
4032474,25420107,2,2,https://www.goodreads.com/book/show/18090508-b...,"Bully (Fall Away, #1)",Penelope Douglas,eng,https://images.gr-assets.com/books/1371573537m...,2013,"My name is Tate. He doesn't call me that, thou...",4.118805,"[5 stars, all time favorites, made me cry, chi..."
4068324,25268036,2,4,https://www.goodreads.com/book/show/18172465-a...,A World Without Princes (The School for Good a...,Soman Chainani,eng,https://images.gr-assets.com/books/1379015944m...,2014,After saving themselves and their fellow stude...,3.774648,"[5 stars, all time favorites, fiction, friends..."
4080216,25634760,2,3,https://www.goodreads.com/book/show/18222699-g...,"Graduation Day (The Testing, #3)",Joelle Charbonneau,eng,https://images.gr-assets.com/books/1384363227m...,2014,"In a scarred and brutal future, The United Com...",3.360502,"[fiction, friendship, romance, teen, young adu..."
4136158,26163493,2,2,https://www.goodreads.com/book/show/18484807-h...,"Hello, I Love You",Katie M. Stout,eng,https://images.gr-assets.com/books/1418416008m...,2015,A teen escapes to a boarding school abroad and...,2.992908,"[chick lit, contemporary, fiction, funny, love..."
4185721,17115101,2,4,https://www.goodreads.com/book/show/18705209-t...,"The Blood of Olympus (The Heroes of Olympus, #5)",Rick Riordan,eng,https://images.gr-assets.com/books/1464201441m...,2014,Though the Greek and Roman crewmembers of the ...,4.392356,"[5 stars, all time favorites, made me cry, con..."
4292620,38002023,2,4,https://www.goodreads.com/book/show/20550148-need,Need,Joelle Charbonneau,eng,https://images.gr-assets.com/books/1431459596m...,2015,alternate cover edition for ISBN 0544416694\nW...,3.530973,"[contemporary, drama, fiction, friendship, rea..."
4293241,39113604,2,4,https://www.goodreads.com/book/show/20560137-a...,"An Ember in the Ashes (An Ember in the Ashes, #1)",Sabaa Tahir,eng,https://images.gr-assets.com/books/1417957944m...,2015,Laia is a slave.\nElias is a soldier.\nNeither...,4.303644,"[5 stars, all time favorites, fiction, friends..."
4451892,42077459,2,3,https://www.goodreads.com/book/show/23437156-s...,"Six of Crows (Six of Crows, #1)",Leigh Bardugo,eng,https://images.gr-assets.com/books/1500689111m...,2015,Criminal prodigy Kaz Brekker has been offered ...,4.525664,"[5 stars, all time favorites, english, fiction..."
4457674,42090179,2,5,https://www.goodreads.com/book/show/22299763-c...,"Crooked Kingdom (Six of Crows, #2)",Leigh Bardugo,eng,https://images.gr-assets.com/books/1456172607m...,2016,Welcome to the world of the Grisha.\nAfter pul...,4.693219,"[5 stars, all time favorites, made me cry, eng..."
4637722,43111795,2,4,https://www.goodreads.com/book/show/23507745-s...,"Serafina and the Black Cloak (Serafina, #1)",Robert Beatty,eng,https://images.gr-assets.com/books/1420158894m...,2015,"""Never go into the deep parts of the forest, f...",3.816981,"[families, fiction, friendship, teen, young ad..."
4673845,42990051,2,3,https://www.goodreads.com/book/show/23846013-t...,"The Rose Society (The Young Elites, #2)",Marie Lu,eng,https://images.gr-assets.com/books/1443368070m...,2015,"Once upon a time, a girl had a father, a princ...",4.178448,"[5 stars, all time favorites, fiction, romance..."
4768168,41682914,2,4,https://www.goodreads.com/book/show/27190613-a...,"And I Darken (The Conqueror's Saga, #1)",Kiersten White,eng,https://images.gr-assets.com/books/1449153532m...,2016,No one expects a princess to be brutal. And La...,3.953113,"[5 stars, families, fiction, romance, teen, yo..."
4889839,46249638,2,4,https://www.goodreads.com/book/show/26252859-t...,"The Hidden Oracle (The Trials of Apollo, #1)",Rick Riordan,eng,https://images.gr-assets.com/books/1449765273m...,2016,How do you punish an immortal?\nBy making him ...,4.271153,"[5 stars, all time favorites, contemporary, en..."
4922660,43940889,2,4,https://www.goodreads.com/book/show/27362503-i...,It Ends with Us,Colleen Hoover,eng,https://images.gr-assets.com/books/1470427482m...,0,SOMETIMES THE ONE WHO LOVES YOU IS THE ONE WHO...,4.566933,"[5 stars, all time favorites, made me cry, chi..."

In [35]:
train

,item_id,user_id,rating,url,title,authors,lang,img,year,description,average_rating,tags
2,41335427,2,5,https://www.goodreads.com/book/show/1.Harry_Po...,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,eng,https://images.gr-assets.com/books/1361039191m...,2006,The war against Voldemort is not going well: e...,4.638050,"[5 stars, all time favorites, made me cry, com..."
4043,2809203,2,5,https://www.goodreads.com/book/show/2.Harry_Po...,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,eng,https://images.gr-assets.com/books/1507396732m...,2004,Harry Potter is due to start his fifth year at...,4.490839,"[5 stars, all time favorites, coming of age, f..."
8199,4640799,2,5,https://www.goodreads.com/book/show/3.Harry_Po...,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,eng,https://images.gr-assets.com/books/1474154022m...,1997,Harry Potter's life is miserable. His parents ...,4.602254,"[5 stars, all time favorites, contemporary, en..."
18844,2402163,2,5,https://www.goodreads.com/book/show/5.Harry_Po...,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling,eng,https://images.gr-assets.com/books/1499277281m...,2004,Harry Potter's third year at Hogwarts is full ...,4.705557,"[5 stars, all time favorites, coming of age, c..."
24441,3046572,2,5,https://www.goodreads.com/book/show/6.Harry_Po...,Harry Potter and the Goblet of Fire (Harry Pot...,J.K. Rowling,eng,https://images.gr-assets.com/books/1361482611m...,2002,Harry Potter is midway through his training as...,4.666880,"[5 stars, all time favorites, english, love, l..."
...,...,...,...,...,...,...,...,...,...,...,...,...
3825568,24034767,2,2,https://www.goodreads.com/book/show/17331483-n...,"No Place Like Oz (Dorothy Must Die, #0.1)",Danielle Paige,eng,https://images.gr-assets.com/books/1422104962m...,2013,"In this digital original novella, Dorothy trav...",3.751020,"[fiction, teen, young adult, adventure, dystop..."
3853845,21900404,2,5,https://www.goodreads.com/book/show/17345314-c...,"Cracked (Soul Eaters, #1)",Eliza Crewe,eng,https://images.gr-assets.com/books/1378898965m...,2013,"Meet Meda. She eats people.\nWell, technically...",3.983425,"[5 stars, all time favorites, contemporary, en..."
3914214,24662849,2,2,https://www.goodreads.com/book/show/17667561-t...,"The Shadow Throne (The Ascendance Trilogy, #3)",Jennifer A. Nielsen,eng,https://images.gr-assets.com/books/1395418016m...,2014,One war. Too many deadly battles. Can a king s...,4.081535,"[5 stars, all time favorites, coming of age, f..."
3931773,24881632,2,4,https://www.goodreads.com/book/show/17790188-t...,"The Too-Clever Fox (The Grisha, #2.5)",Leigh Bardugo,eng,https://images.gr-assets.com/books/1369846496m...,2013,"In Ravka, just because you avoid one trap, it ...",4.035156,"[5 stars, english, fiction, romance, teen, you..."
3992194,25217978,2,5,https://www.goodreads.com/book/show/20821111-t...,"The Young Elites (The Young Elites, #1)",Marie Lu,eng,https://images.gr-assets.com/books/1407318399m...,2014,"I am tired of being used, hurt, and cast aside...",3.882491,"[5 stars, all time favorites, fiction, romance..."

In [41]:
def get_tags(userId,df):
    user_df = df[df['user_id']==userId]
    tag_explode = user_df.explode('tags')
    tag_explode = tag_explode.groupby('tags').agg(appear=('tags','count'))
    tag_explode = tag_explode.sort_values(['appear'],ascending = False)
    return tag_explode

In [77]:
train_tags = get_tags(2,train)
train_tags = train_tags.tail(5)

In [78]:
result = pd.merge(table2,train_tags,left_on='tag',right_on=train_tags.index,how='inner')
result = result.groupby('item_id').agg(tags=('tag','unique')).reset_index()
result

      item_id               tags
0        3142           [france]
1        3409  [friend to lover]
2        8272           [france]
3       10352        [religious]
4       14837        [religious]
..        ...                ...
975  56358435  [friend to lover]
976  56590230  [friend to lover]
977  56654039  [friend to lover]
978  56872973  [friend to lover]
979  57041703  [friend to lover]

[980 rows x 2 columns]

In [79]:
#read_books = ratings[ratings['user_id']==2]['item_id']
#result = result[~result['item_id'].isin(read_books)]
#result['average_rating']= result['item_id'].apply(lambda x: calculate_rating(x))
top = pd.merge(books, result,on='item_id',how='inner')
top = top.sort_values('average_rating',ascending=False)
top

,Unnamed: 0,item_id,url,title,authors,lang,img,year,description,average_rating,tags
474,5118,26518929,https://www.goodreads.com/book/show/18681461-l...,"Lovely Trigger (Tristan & Danika, #3)",R.K. Lilley,eng,https://images.gr-assets.com/books/1384923832m...,2014,"THE IMPACT\nTristan hit rock bottom, and no on...",4.826568,[friend to lover]
688,6849,52922245,https://www.goodreads.com/book/show/34826911-t...,"The Gravity of Us (Elements, #4)",Brittainy C. Cherry,eng,https://s.gr-assets.com/assets/nophoto/book/11...,0,Graham Russell and I weren't made for one anot...,4.818605,[friend to lover]
874,8552,41343043,https://www.goodreads.com/book/show/22024907-l...,"Long Way Down (Calloway Sisters, #4; Addicted,...","Krista Ritchie, Becca Ritchie",eng,https://images.gr-assets.com/books/1445205632m...,2015,"With a seven-year age difference, Ryke & Daisy...",4.788571,[friend to lover]
400,4538,26419682,https://www.goodreads.com/book/show/18628601-m...,"More Than Forever (More Than, #4)",Jay McLean,eng,https://images.gr-assets.com/books/1398578431m...,2014,-LUCY-\nThere is a love so fierce it cannot be...,4.770270,[friend to lover]
975,9359,51859542,https://www.goodreads.com/book/show/31207572-grip,"Grip (Grip, #1)",Kennedy Ryan,eng,https://images.gr-assets.com/books/1489608939m...,2017,***This is not a cliffhanger***\nResisting an ...,4.768750,[friend to lover]
...,...,...,...,...,...,...,...,...,...,...,...
729,7293,17091888,https://www.goodreads.com/book/show/12122542-t...,The House I Loved,Tatiana de Rosnay,en-US,https://s.gr-assets.com/assets/nophoto/book/11...,2012,From the New York Timesbestselling author ofSa...,3.030769,"[france, french]"
639,6405,2462307,https://www.goodreads.com/book/show/40483.Stor...,Story of O (Story of O #1),Pauline Reage,eng,https://images.gr-assets.com/books/1464369941m...,1981,The Story of O relates the progressive willful...,3.023364,"[france, french]"
726,7276,42367516,https://www.goodreads.com/book/show/23743603-m...,Miramont's Ghost,Elizabeth Hall,en-GB,https://images.gr-assets.com/books/1418787928m...,2015,"Miramont Castle, built in 1897 and mysteriousl...",2.914573,[france]
818,8010,143448,https://www.goodreads.com/book/show/46438.The_...,"The Last Templar (Templar, #1)",Raymond Khoury,eng,https://s.gr-assets.com/assets/nophoto/book/11...,2006,"""It has served us well, this myth of Christ.""\...",2.912088,[religious]
708,7021,45167603,https://www.goodreads.com/book/show/27065431-m...,Maestra (Maestra #1),L.S. Hilton,eng,https://images.gr-assets.com/books/1449861347m...,2016,A shockingly original thriller - the launch ti...,2.607843,[france]

In [80]:
true_df = top[top['item_id'].isin(test['item_id'])]
true_df

,Unnamed: 0,item_id,url,title,authors,lang,img,year,description,average_rating,tags
84,1245,25420107,https://www.goodreads.com/book/show/18090508-b...,"Bully (Fall Away, #1)",Penelope Douglas,eng,https://images.gr-assets.com/books/1371573537m...,2013,"My name is Tate. He doesn't call me that, thou...",4.118805,[friend to lover]

In [81]:
false_df = top[~top['item_id'].isin(test['item_id'])]
false_df

,Unnamed: 0,item_id,url,title,authors,lang,img,year,description,average_rating,tags
474,5118,26518929,https://www.goodreads.com/book/show/18681461-l...,"Lovely Trigger (Tristan & Danika, #3)",R.K. Lilley,eng,https://images.gr-assets.com/books/1384923832m...,2014,"THE IMPACT\nTristan hit rock bottom, and no on...",4.826568,[friend to lover]
688,6849,52922245,https://www.goodreads.com/book/show/34826911-t...,"The Gravity of Us (Elements, #4)",Brittainy C. Cherry,eng,https://s.gr-assets.com/assets/nophoto/book/11...,0,Graham Russell and I weren't made for one anot...,4.818605,[friend to lover]
874,8552,41343043,https://www.goodreads.com/book/show/22024907-l...,"Long Way Down (Calloway Sisters, #4; Addicted,...","Krista Ritchie, Becca Ritchie",eng,https://images.gr-assets.com/books/1445205632m...,2015,"With a seven-year age difference, Ryke & Daisy...",4.788571,[friend to lover]
400,4538,26419682,https://www.goodreads.com/book/show/18628601-m...,"More Than Forever (More Than, #4)",Jay McLean,eng,https://images.gr-assets.com/books/1398578431m...,2014,-LUCY-\nThere is a love so fierce it cannot be...,4.770270,[friend to lover]
975,9359,51859542,https://www.goodreads.com/book/show/31207572-grip,"Grip (Grip, #1)",Kennedy Ryan,eng,https://images.gr-assets.com/books/1489608939m...,2017,***This is not a cliffhanger***\nResisting an ...,4.768750,[friend to lover]
...,...,...,...,...,...,...,...,...,...,...,...
729,7293,17091888,https://www.goodreads.com/book/show/12122542-t...,The House I Loved,Tatiana de Rosnay,en-US,https://s.gr-assets.com/assets/nophoto/book/11...,2012,From the New York Timesbestselling author ofSa...,3.030769,"[france, french]"
639,6405,2462307,https://www.goodreads.com/book/show/40483.Stor...,Story of O (Story of O #1),Pauline Reage,eng,https://images.gr-assets.com/books/1464369941m...,1981,The Story of O relates the progressive willful...,3.023364,"[france, french]"
726,7276,42367516,https://www.goodreads.com/book/show/23743603-m...,Miramont's Ghost,Elizabeth Hall,en-GB,https://images.gr-assets.com/books/1418787928m...,2015,"Miramont Castle, built in 1897 and mysteriousl...",2.914573,[france]
818,8010,143448,https://www.goodreads.com/book/show/46438.The_...,"The Last Templar (Templar, #1)",Raymond Khoury,eng,https://s.gr-assets.com/assets/nophoto/book/11...,2006,"""It has served us well, this myth of Christ.""\...",2.912088,[religious]
708,7021,45167603,https://www.goodreads.com/book/show/27065431-m...,Maestra (Maestra #1),L.S. Hilton,eng,https://images.gr-assets.com/books/1449861347m...,2016,A shockingly original thriller - the launch ti...,2.607843,[france]